{
  "name": "sensor",
  "wifi": {
    "ssid": "SSID",
    "password": "Password!"
  },
  "mqtt": {
    "host": "203.0.113.1",
    "port": 1883,
    "base_topic": "devices/"
  },
  "ota": {
    "enabled": false
  },
  "settings":{
    "room":"living"
  }
}
